*{
  margin: 0;
  padding: 0;

  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.homepage-container{
  overflow: hidden;
  color: white;

  display: grid;
  grid-row: auto 1fr;
} 

.homepage-content{
  display: grid;
  place-content: center;
  margin-top: auto;
  gap: 4px;
}

#cafe-image{
  position: absolute;
  z-index: -1;
}

.navbar{
  padding: 20px;

  text-align: center;
  color: white;
  background-color: black;

  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: space-between;
}

.navbar-left,
.navbar-right{
  display: flex;
  align-items: center;
  gap: 24px;
}

a{
  color: white;
  text-decoration: none;
}

a:hover{
  color: rgb(190, 190, 190);
}


label{
  display: grid;
  align-items: center;
  grid-auto-flow: column;
  gap: 2px;
  padding: 4px 6px;


  background-color: rgb(245, 245, 245);
  border-radius: 12px;
}

input{
  background-color: rgb(245, 245, 245);
  border: none;
}

input:focus{
  outline: none;
}


#shop-now-btn{
  font-weight: 700;
  color: white;
  background-color: rgb(0, 140, 255);
  padding: 4px 6px;
  border-radius: 8px;
}

.products-container{
  padding: 14px;
}

.products{
  padding: 14px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);

  gap: 14px;
}

.product{
  display: grid;
  justify-content: center;
  text-align: center;
  padding: 14px;
  background-color: rgb(245, 245, 245);
}