*{
  margin: 0;
  padding: 0;

  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.homepage-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.homepage-content {
  padding: 2em;

  font-size: 22px;
  font-weight: 700;
  text-align: center;

  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 10px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}


.navbar{
  padding: 20px;

  text-align: center;
  color: white;
  background-color: black;

  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: space-between;
}

.navbar-left,
.navbar-right{
  display: flex;
  align-items: center;
  gap: 24px;
}

a{
  color: white;
  text-decoration: none;
}

a:hover{
  color: rgb(190, 190, 190);
}


label{
  display: grid;
  align-items: center;
  grid-auto-flow: column;
  gap: 2px;
  padding: 4px 6px;


  background-color: rgb(245, 245, 245);
  border-radius: 12px;
}

input{
  background-color: rgb(245, 245, 245);
  border: none;
}

input:focus{
  outline: none;
}


#shop-now-btn{
  font-weight: 700;
  color: white;
  background-color: rgb(0, 140, 255);
  padding: 4px 6px;
  border-radius: 8px;
}

.products-container{
  padding: 48px;
  display: grid;
  gap: 16px;


  background-color: rgb(245, 245, 245);
}

.products{
  padding: 14px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  gap: 24px;
}

.product{
  display: grid;
  padding: 14px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(128, 128, 128, 0.3);
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.13) 0px 3px 6px;
}

.product:hover{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.28) 0px 3px 6px;
}

.product-image{
  display: grid;
  align-items: center;
  justify-content: center;
}

.product-info{
  display: grid;
  justify-content: left;
}

.cart-container{
  padding: 48px;
  display: grid;
  
  gap: 12px;
}

.basket-count{
  position: absolute;
  top: 17px;
  right: 15px;

  font-size: 11px;
  font-weight: 600;

  min-width: 11px;
  padding: 3px;
  border-radius: 8px;
  background-color: rgb(44, 121, 255);
}

.basket-product-card{
  display: grid;
  grid-auto-flow: column;

  justify-content: left;
  align-items: center;

  padding: 14px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(128, 128, 128, 0.3);
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.13) 0px 3px 6px;
}

.add-to-cart:hover{
  cursor: pointer; 
}

.checkout-button{
  font-weight: 600;
  color: white;
  padding: 8px 12px;

  background-color: black;
  border-radius: 3px;
  border: none;
}

.checkout-button:hover{
  cursor: pointer;
}

.cart-info{
  margin-top: 16px;
  display: grid;

  justify-items: center;
  gap: 8px;
}

.quantity-input{
  text-align: center;
  padding: 1px;
  margin-left: 4px;
  background-color: rgb(225, 225, 225);
  border-radius: 4px;
  border: 1px solid rgb(155, 155, 155);
}

.remove-button{
  border: none;
  text-decoration: underline;
}

.remove-button:hover{
  cursor: pointer;
}

@media (max-width: 500px){
  h1{
    font-size: 24px;
  }

  .navbar{
    padding: 20px 12px;
  }

  .navbar-left,
  .navbar-right{
    display: flex;
    align-items: center;
    gap: 12px;
  }

  .products{
    grid-template-columns: repeat(2, 1fr);
  }

  .products-container{
    padding: 24px;
  }
}

@media (min-width: 500px) and (max-width: 900px){
  .products{
    grid-template-columns: repeat(3, 1fr);
  }
}
